<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400245430250-o323vsb4a1laimsqlc0pbra35bu39sv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400245430250-o323vsb4a1laimsqlc0pbra35bu39sv1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>400245430250-pict41v1dmnhquoamqt7rroi906khfa4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArlFZaShVOBUq-gT1INVl4SuDKAV6yUko</string>
	<key>GCM_SENDER_ID</key>
	<string>400245430250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eBusTracker</string>
	<key>PROJECT_ID</key>
	<string>e-bus-tracking-system</string>
	<key>STORAGE_BUCKET</key>
	<string>e-bus-tracking-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400245430250:ios:cbd260510080c35ff90493</string>
</dict>
</plist>